{% include 'CodebenderUserBundle:Registration:register_scripts.html.twig' %}

<div id="offsignupnow" class="row-fluid">
	<div class="span12">
		<!-- header -->
		<h3>Sign Up<small> Start coding in minutes.</small></h3>
	</div>
	<!--/span-->
	{#{% form_theme form theme %}#}
	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
	      class="fos_user_registration_register">
</div><!--/row-->
<div class="row-fluid">
	<div class="span3">
		<!-- left side -->
		<div id="register_username_id" class="control-group">
			{{ form_widget(form.username) }}
		</div>
	</div>
	<div class="span3">
		<div id="register_email_id" class="control-group">
			{{ form_widget(form.email) }}
		</div>
	</div>
	<!--/span-->
	<div class="span3">
		<!-- right side -->
		<div id="register_password_id" class="control-group">
			{{ form_widget(form.plainPassword.first) }}
		</div>
	</div>
	<div class="span3">
		<div id="register_verification_id" class="control-group">
			{{ form_widget(form.plainPassword.second) }}
		</div>
	</div>
	<!--/span-->
</div><!--/row-->
<div class="row-fluid">
	<div class="span10">
		<!-- bottom -->
		<div style="display:none">
			{{ form_rest(form) }}
		</div>
		<p>
			<span id="register_info_id">
				Hi! Why don't you sign up for a {{ site_name }} account? {{ form_errors(form) }}
			</span>
		</p>

		<p>
			By clicking Register, you agree to the codebender <a href="{{ path("CodebenderStaticBundle_eula") }}" target="_blank">Terms and Conditions</a>.
		</p>
	</div>
	<div class="span2">
		<input type="submit" style="margin-right:40px; float: right;" class="btn btn-primary"
		       value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
		</form>
	</div>
	<!--/span-->
</div><!--/row-->
