{% block fos_user_content %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
	<input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" />
    {% if error %}
		<div class="text-error"><i class="icon-warning-sign"></i> {{ error|trans({}, 'FOSUserBundle') }}</div>
	{% endif %}
	<br />
    <label class="checkbox"><input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
<a href={{ path('fos_user_resetting_request') }}><span style="font-size:small">Forgot your password?</span></a>
{% endblock fos_user_content %}
