<script type="text/javascript">

function appendFileToFileList(filename, code)
{
    window.files[filename] = code;
    var li = '<li><a class="filelist" href="javascript:void(0)" onclick="selectFile(\''+filename+'\');">'+filename+'</a>'+
            '<a class= "deletefilebutton" href="javascript:void(0)" style="float:right; margin-right: 10px" title="Delete File" onclick="deleteFileModal(\''+filename+'\')"> <i class="icon-remove"></i></a>'+
            '<a class= "renamefilebutton" href="javascript:void(0)" style="float:right;" title="Rename File"  onclick="renameFilenameModal(\''+filename+'\')"><i class="icon-pencil"></i> </a></li>';
    $("#files_list").append(li);
}

function renameFileAtFileList(oldFilename, newFilename)
{
    load_files();
    window.files[ newFilename ] = window.files[ oldFilename ];
    if(window.selectedFile == oldFilename)
        window.selectedFile = newFilename;
    delete window.files[oldFilename];

    $( "ul#files_list li" ).each(function( index ) {
        if($(this).children("a.filelist").html().trim() == oldFilename)
        {
            $(this).children("a.filelist").html(newFilename);
            $(this).children("a.filelist").attr('onclick', "selectFile('"+newFilename+"')");
            $(this).children("a.deletefilebutton").attr('onclick', "deleteFileModal('"+newFilename+"')");
            $(this).children("a.renamefilebutton").attr('onclick', "renameFilenameModal('"+newFilename+"')");
        }
    });

}

function removeFileFromFileList(filename)
{
    loadCode(filename);
    if(window.selectedFile == filename)

    $("ul#files_list li").each(function()
    {
        if($(this).children("a.filelist").html().trim().indexOf(".ino", this.length - 4) > 0)
            selectFile($(this).children("a.filelist").html().trim());
    });

    delete window.files[ filename ];
    load_files();
    $( "ul#files_list li" ).each(function( index ) {
        if($(this).children("a.filelist").html().trim() == filename)
        {
            $(this).remove();
            load_files();
        }
    });

}

function disableDeleteModalButtons()
{
    $("#deleteProjectButton").addClass("disabled");
    $("#deleteProjectButton").html("<i class='icon-spinner icon-spin'></i> Working...</a>");
    $("#cancelDeleteProjectButton").hide();
}

function renameFilenameModal(filename) {
    $("#oldFilename").val(filename);
    $("#newFilename").val(filename);
    $("#filenameModal").modal('show');
}

function renameFilename() {
    setOperationProgress(90);
    $.post("{{ path('CodebenderUtilitiesBundle_renamefile', {'id':project_id} ) }}", {oldFilename:$("#oldFilename").val(), newFilename:$("#newFilename").val()}, function (data) {
        var response = JSON.parse(data);
        if (response["success"])
        {
            renameFileAtFileList($("#oldFilename").val(), $("#newFilename").val())
            setOperationOutput("File successfully renamed.");
        }
        else
        {
            setOperationOutput(response["error"]);
        }
        $(".modal").modal('hide');
    });

}

function handleResponse(response) {
    var response = JSON.parse(response);
    if (response["success"])
        location.reload();
    else
    {
	    setOperationOutput(response["error"]);
	    $(".modal").modal('hide');
    }
}

function setOperationProgress(newprogress) {
    $("#progress").show('fast');
    $("#progress_val").width(newprogress + '%');
    $("#operation_output").hide('fast');
    // $("#progress").show('fast');
    // if(newprogress < 10)
    // 	window.currentProgress = 0.5*newprogress;
    // else
    // 	window.currentProgress = 0;
    // $("#progress_val").width(window.currentProgress+'%');
    //
    // window.maxProgress = newprogress;
    // window.interval = setInterval(function()
    // {
    // 	$("#progress_val").width(window.currentProgress+'%');
    // 	if(window.currentProgress < window.maxProgress)
    // 		window.currentProgress++;
    // },10);
    // $("#operation_output").hide('fast');
}

function setOperationOutput(output) {
    $("#progress").hide('fast');
    $("#progress_val").width('0%');
    $("#operation_output").html(output).show('fast');
    //clear the interval here
}

function save() {
    loadCode();
    setOperationProgress(90);
    $.post("{{ path('CodebenderUtilitiesBundle_savecode', {'id': project_id}) }}", {data:JSON.stringify(window.files)}, function (data) {
        $("#save").addClass("btn-success");
        $("#save_icon").addClass("icon-white");
        data = JSON.parse(data);
        setOperationOutput(data['message']);
        window.setTimeout(function () {
            $("#save").removeClass("btn-success");
            $("#save_icon").removeClass("icon-white");
        }, 500);
        // alert("Data received: " + data);
    });
}

function revert() {
	$("#revert").addClass("btn-success");
    $("#revert_icon").addClass("icon-white");
	window.files = jsObjClone(window.savedfiles);
    editor.getSession().setValue($("<div/>").html(window.files[window.selectedFile]).text().replace(/&quot;/g, "\""));
	window.currentfiles = refreshFiles();
	setOperationOutput("Reverted to the last saved state.");
    window.setTimeout(function () {
		$("#revert").removeClass("btn-success");
        $("#revert_icon").removeClass("icon-white");
    }, 100);
}


function verification_onFail(message)
{
    $("#compile_output").html(message);
    if($("#compile_output").height() == 0)
    {
        $("#editor .ui-resizable-handle").show();
        $("#compile_output").css('color', 'b lack');
        $("#editor").css("bottom", "180px");
        $("#compile_output").css("padding-top", "10px");
        $("#compile_output").css("height", "120px");
        $("#compile_output").addClass("well");
        $("#compile_output").css("visibility", "visible");
        $("#compile_output_close").css("visibility", "visible");
        $("#compile_output_close").css("bottom", "130px");
        editor.resize();
    }

}

function hideErrorOutput()
{
    $("#editor .ui-resizable-handle").hide();
    $("#compile_output").css('color', '');
    $(".ace_gutter-cell").css("text-decoration", "").css("color", "");
    $("#editor").css("bottom", "");
    $("#compile_output").css("height", "");
    $("#compile_output").css("padding-top", "");
    $("#compile_output").css("visibility", "");
    $("#compile_output").removeClass("well");
    $("#compile_output_close").css("visibility", "");
    $("#compile_output_close").css("bottom", "");
    editor.resize();
}


old_usbflash = usbflash;
usbflash = function(){
    $("#collapseSerial").height(0);
    $("#collapseSerial").removeClass("in");
    old_usbflash();

}

function showSketchSize(size)
{
    $("#sketch_size_number").html(size);
    $("#sketch_info").css('height', '38px');
    $("#sketch_size").css("visibility", "visible");
}

function hideSketchSize()
{
    $("#sketch_size_number").html('');
    $("#sketch_info").css('height', '18px');
    $("#sketch_size").css("visibility", "");
}


old_connect = connect;
connect = function(){

    var url = "{{  path('CodebenderUtilitiesBundle_logdb', {actionid : 18, meta : "SERIAL_MONITOR_META"}) }}";
    url = url.replace("SERIAL_MONITOR_META", JSON.stringify({ "baudrate" : $('#baudrates').val()}) );
    $.get(url);
    old_connect();

}



old_load_files = load_files;
load_files = function(){
    var pos = editor.getCursorPosition();
    loadCode();
    editor.moveCursorTo(pos.row, pos.column, true);
    return old_load_files();
}

</script>


{#Editor Scripts#}
<script type="text/javascript" charset="utf-8">
    function addCommands() {
        editor.commands.addCommand({
            name:'saveFile',
            bindKey:{
                win:'Ctrl-S',
                mac:'Command-S',
                sender:'editor|cli'
            },
            exec:function (env, args, request) {
                save();
                window.savedfiles = refreshFiles();
            }
        });

        editor.commands.addCommand({
            name:'verifyFile',
            bindKey:{
                win:'Ctrl-R',
                mac:'Command-R',
                sender:'editor|cli'
            },
            exec:function (env, args, request) {
                verify();
            }
        });

        editor.commands.addCommand({
            name:'uploadFile',
            bindKey:{
                win:'Ctrl-U',
                mac:'Command-U',
                sender:'editor|cli'
            },
            exec:function (env, args, request) {
                usbflash();
            }
        });

        editor.commands.addCommand({
            name:'CheckWord',
            bindKey:{
                win:'Ctrl-Space',
                mac:'Ctrl-Space',
                sender:'editor|cli'
            },
            exec:function (env, args, request) {
                var selection = editor.getSession().doc.getTextRange(editor.getSelectionRange());
                if (selection == "") {
                    var row = editor.getSession().getSelection().getCursor().row;
                    var column = editor.getSession().getSelection().getCursor().column
                    var string = editor.getSession().getLine(editor.getSession().getSelection().getCursor().row);
                    var first_half = string.substring(0, column).match(/\w+$/);
                    var second_half = string.substring(column, string.length).match(/^\w+/);
                    if (first_half == null) first_half = "";
                    if (second_half == null) second_half = "";
                    selection = first_half + second_half;
                }
                window.open('http://www.google.com/search?q=' + selection + '+inurl:arduino.cc/en/Reference&btnI');
            }
        });

        editor.commands.addCommand({
            name:'MyComments',
            bindKey:{
                win:'Ctrl-/',
                mac:'Command-/',
                sender:'editor|cli'
            },
            exec:function (env, args, request) {
                editor.toggleCommentLines();
            }
        });

        editor.commands.addCommand({
            name:'serialMonitor',
            bindKey:{
                win:'Ctrl-Shift-M',
                mac:'Command-Shift-M',
                sender:'editor|cli'
            },
            exec:function (env, args, request) {
                connect();
            }
        });

        editor.commands.addCommand({
            name:'autoFormat',
            bindKey:{
                win:'Ctrl-Alt-[',
                mac:'Command-Alt-[',
                sender:'editor|cli'
            },
            exec:function (env, args, request) {
                autoFormat();
            }
        });

    }

    function autoFormat() {
    }

</script>

<script type="text/javascript">

var openShareJsConnection = function(filename) {
    if (window.doc) {
        window.doc.detach_ace();
        window.doc.close();
    }

    var share_options = {
        origin: '{{ share_host}}',

        authentication: {
            hash: '{{ share_hash }}',
            userId: '{{ user_id }}',
            projectId: '{{ project_id }}'
        }
    };

    var channel = '{{ project_id }}' + (filename || '');

    // TODO(ddoucet) when is filename undefined?
    sharejs.open(channel, 'text', share_options, function(error, doc) {
        if (error)
            console.error("Error opening connection with file \"" + filename + "\" sharejs: " + error);
        else {

            doc.attach_ace(editor);

            if (doc.created)
                editor.getSession()
                    .setValue($("<div/>")
                    .html(window.files[filename])
                    .text()
                    .replace(/&quot;/g, "\""));

            window.doc = doc;
        }
    });
};

function selectFile(filename)
{

    loadCode(filename);
    
    //TODO: figure out if this is needed
    //editor.getSession().setValue($("<div/>").html(window.files[filename]).text().replace(/&quot;/g, "\""));

    window.selectedFile = filename;
    openShareJsConnection(window.selectedFile);

    $(".filelist").css("font-weight", "");
    $("ul#files_list li").each(function()
    {
        if($(this).children("a.filelist").html().trim() == filename)
            $(this).children("a.filelist").attr("style", "font-weight:bold;");
    });
}

function loadCode() {
    window.files[window.selectedFile] = $("<div/>").text(editor.getSession().getValue()).html().replace(/"/g, "&quot;");
}

function createFile() {
    setOperationProgress(90);
    var val = { filename:$("#createfield").val() };
    $.post("{{ path('CodebenderUtilitiesBundle_createfile', {'id':project_id} ) }}", {data:JSON.stringify(val)}, function (data) {
        var response = JSON.parse(data);
        if (response["success"])
        {
            appendFileToFileList(val['filename'], "");
            setOperationOutput("File successfully created.");
            selectFile(val['filename']);
            $(".modal").modal('hide');
        }
        else
        {
            setOperationOutput(response["error"]);
            $(".modal").modal('hide');
        }
    });
}

function deleteFileModal(filename) {
//    $("#oldFilename").val(filename);
//    $("#newFilename").val(filename);
    $("#filedeleteButton").attr("href","javascript:deleteFile('"+filename+"');");
    $("#filedeleteModal").modal('show');
}

function deleteFile(filename) {
    setOperationProgress(90);
    $("#filedeleteButton").addClass('disabled');
    $("#cancelfiledeleteButton").addClass('disabled');
    $("#filedeleteButton").html('<i class="icon-spinner icon-spin"></i> Working...');
    var val = { "filename":filename };
    $.post("{{ path('CodebenderUtilitiesBundle_deletefile', {'id':project_id} ) }}", {data:JSON.stringify(val)}, function (data) {
        var response = JSON.parse(data);
        if (response["success"])
        {
            removeFileFromFileList(val['filename']);
            setOperationOutput("File successfully deleted.");
            $(".modal").modal('hide');
        }
        else
        {
            setOperationOutput(response["error"]);
            $(".modal").modal('hide');
        }
        $("#filedeleteButton").removeClass('disabled');
        $("#cancelfiledeleteButton").removeClass('disabled');
        $("#filedeleteButton").html('<i class="icon-trash icon-white"></i> Delete File!');
    });
}

function changePrivacy()
{
}

function editDescription()
{
    $("#description").replaceWith("<textarea id='description' style='resize: none; width:100%;' rows=4>" + $("#description").text() + "</textarea>");
    $("#description_change_link").text("save");
    $("#description_change_link").attr("onClick", "saveDescription()");
}

function saveDescription() {
    $("#info_modal_progress").show();
    $("#info_modal_progress_message").html('<i class="icon-spinner icon-spin"></i> Working...');
    $.post("{{ path('CodebenderUtilitiesBundle_setprojectdescription', {'id':project_id} ) }}", {data:$("#description").val()}, function (data)
    {
     var res = JSON.parse(data);
     if(res.success)
     {
         $("#description").replaceWith("<p id='description'>" + $("#description").val() + "</p>");
         $("#description_change_link").removeClass("btn btn-primary");
         $("#description_change_link").text("edit");
         $("#description_change_link").attr("onClick", "editDescription()");
         $("#info_modal_progress_message").html('<i class="icon-ok"></i> Description successfully changed!');
     }
     else
     {
         $("#info_modal_progress_message").html('<i class="icon-remove"></i> '+res.error);
     }
    });
}

function editName() {
    var oldName = $("#name").text();
    $("#name").replaceWith("<input type='text' id='name' value='"+ $("#name").text() +"'/>");
    $("#name_change_link").text("save");
    $("#name_change_link").attr("onClick", "saveName('"+oldName+"')");
}

function saveName(oldName) {
    $("#info_modal_progress").show();
    $("#info_modal_progress_message").html('<i class="icon-spinner icon-spin"></i> Working...');
    $.post("{{ path('CodebenderUtilitiesBundle_setprojectname', {'id':project_id} ) }}", {data:$("#name").val()}, function (data) {
        var res = JSON.parse(data);
        if(res.success)
        {
            var newName = $("#name").val();
            $("#name").replaceWith("<p id='name'>" + $("#name").val() + "</p>");
            $("#name_change_link").removeClass("btn btn-primary");
            $("#name_change_link").text("edit");
            $("#name_change_link").attr("onClick", "editName()");
            $("#info_modal_progress_message").html('<i class="icon-ok"></i> Name successfully changed!');
            $("#editor_heading_project_name").html(newName);
            renameFileAtFileList(oldName+".ino", newName+".ino");
        }
        else
        {
            $("#name").replaceWith("<p id='name'>{{ project_name }}</p>");
            $("#name_change_link").removeClass("btn btn-primary");
            $("#name_change_link").text("edit");
            $("#name_change_link").attr("onClick", "editName()");
            $("#info_modal_progress_message").html('<i class="icon-remove"></i> '+res.error);

        }

    });
}

//Check if two js objects are equal
function jsObjEquals(obj1, obj2) {
	for (var i in obj1) {
		if (!obj2.hasOwnProperty(i)) return false;
		if (obj1[i] != obj2[i]) return false;
	}
	for (var i in obj2) {
		if (!obj1.hasOwnProperty(i)) return false;
		if (obj1[i] != obj2[i]) return false;
	}
	return true;
}

//Manual shallow js object copy - faster than .extend()
function jsObjClone(obj) {
	var objcopy = {};
	for (var i in obj) {
		if (obj.hasOwnProperty(i))
			objcopy[i] = obj[i];
	}
	return objcopy;
}

function refreshFiles(){
	loadCode();
	var filesObj = jsObjClone(window.files);
	return filesObj;
}

</script>
